<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <category label="128">
        <setting label="30000" type="bool" id="export_pins" default="true" />
        <setting label="30001" type="bool" id="use_sense" default="true" />
        <setting label="30002" type="number" id="sense_pin" enable="eq(-1,true)" default="27" option="int" />
        <setting type="sep"/>
        <setting label="30011" type="number" id="toggle_pin" default="17" option="int" />
        <setting label="30013" type="enum" id="toggle_mode" default="300131" lvalues="300131|300132" />
        <setting label="30012" type="slider" id="toggle_duration" enable="eq(-1,0)" default="0.3" range="0,0.1,10" option="float" />
        <setting type="sep"/>
        <setting label="30021" type="number" id="inactivity_timeout" default="10" />
    </category>
</settings>
